.fade-up{
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.83, 0.17, 0.26, 0.96);;
    animation-direction: alternate;
}

@keyframes fade {
    0%{
        transform: translate(0, 100px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 100%;
    }
}

@media screen and (max-width: 768px) {
    .a{
        height:20vh;
        width: 100%;
    }
    .main-content{
        width: 100%;
    }

    .dashboard{
        width: 92%;
    }
}
