.fade-left{
    animation-name: fadeleft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.83, 0.17, 0.26, 0.96);;
    animation-direction: alternate;
}

@keyframes fadeleft {
    0%{
        transform: translate(-100px, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 100%;
    }
}
